{% load staticfiles %}

<html>
<head>
   <title>Logan Sky</title>
   <link rel="stylesheet" type="text/css" href="{% static 'sky/skyStyle.css' %}" />
   <link rel="icon" type="image/png" href="{% static 'sky/images/logo.png' %}" />
</head>

    <body>
    	<div class="header">
    		<h1>Logan Sky</h1>
    	</div>
    
    	<div class="content">
        	<div class="body">
        		<h2>Contact information:</h2>
        		<ul>
        		    <p>email: somesuchorother@needtoknow.com</p>
        		    <p>phone: 111-222-3456</p>
        		</ul>
        		
        		<ul>
            		<p><a href="/loganSky/">Home</a></p>
        		    <p><a href="/loganSky/purchase/">Get a Quote!</a></p>
    		    </ul>
        	</div>
    	</div>
    	
    </body>
</html>