{% load staticfiles %}

<html>
<head>
   <title>Logan Sky</title>
   <link rel="stylesheet" type="text/css" href="{% static 'sky/skyStyle.css' %}" />
   <link rel="icon" type="image/png" href="{% static 'sky/images/logo.png' %}" />
   
   <script type="text/javascript">
       
        
        var img1 = "{% static 'sky/images/loganAir1.jpg' %}";
        var img2 = "{% static 'sky/images/loganAir2.jpg' %}";
        var img3 = "{% static 'sky/images/loganAir3.jpg' %}";
        var index = 1;
        
       function scrollDiv(dir) {
        var image = document.getElementById('images');
        if (dir == 'l') {
            index += 1;
            if (index == 4) index = 1;
        }
        else if (dir == 'r') {
           index -= 1;
           if (index == 0) index = 3;
        }
        if (index == 1) image.src = img1;
        else if (index == 2) image.src = img2;
        else if (index == 3) image.src = img3;
    }
   </script>
   
   
</head>

    <body>
    	<div class="header">
    		<h1>Logan Sky</h1>
    	</div>
    
    	<div class="content">
        	<div class="body">
        		<h2>Welcome to Logan Sky</h2>
        	
        	    <p>Professional Quality aerial photography and video</p>
        		<div id="scroller">
                    <img src="{% static 'sky/images/loganAir1.jpg' %}" id="images">
                    <br>
                    <button type="button" onclick="scrollDiv('l')">Prev</button>
                    <button type="button" onclick="scrollDiv('r')">Next</button>
                </div>
        		
        		<ul>
            		<p><a href="/loganSky/contact/">Contact Us</a></p>
        		    <p><a href="/loganSky/purchase/">Get a Quote!</a></p>
    		    </ul>
        	</div>
    	</div>
    	
    </body>
</html>