{% load staticfiles %}

<html>
<head>
   <title>Logan Sky</title>
   <link rel="stylesheet" type="text/css" href="{% static 'sky/skyStyle.css' %}" />
   <link rel="icon" type="image/png" href="{% static 'sky/images/logo.png' %}" />
</head>

    <body>
    	<div class="header">
    		<h1>Logan Sky</h1>
    	</div>
    
    	
    	<div class="content">
        	<div class="body">
        		<h2>Thank You!</h2>
        		<p>We will be contacting you shortly with further information</p>
        		
        		<ul>
            		<p><a href="/loganSky/">Home</a></p>
        		    <p><a href="/loganSky/contact/">Contact Us</a></p>
    		    </ul>
        	</div>
    	</div>
    	
    </body>
</html>